@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto Mono', monospace;
}

/* header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: ghostwhite;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
     
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

#navbar li a:hover{
    color:cadetblue;
}


/* Hero starts */
#hero{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    /* border: 1px dotted; */
    /* border-radius: 8px; */
    margin: 80px;
    /* color: darkcyan; */
    /* background-color:lavender; */
}

.heading{
    margin-bottom: 40px;
}


/* about starts */
section#about {
    padding: 60px 20px;
    text-align: center;
  }

  section#about h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
  }

  section#about p {
    margin-bottom: 20px;
    color: #666;
  }




/* footer */

footer{
    background-color:ghostwhite;
}


.col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;

}

.follow{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.follow .icon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.copyright{
    color:blue;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hours{
    margin-top: 40px;
}

.links{
    margin-top: 40px;
}
.links li{
    list-style: none;
}


h3{
    margin-top: 40px;
    
}


#hero img{
    margin-top: 200px;
}



/* media queries */
@media (max-width: 799px) {
    #header {
      padding: 20px;
    }
  
    #navbar {
      flex-direction: column;
    }
  
    #navbar li {
      padding: 10px;
    }
  
    #hero img {
      margin-top: 100px;
    }
  }
  
  @media (max-width: 480px) {
    #hero img {
      margin-top: 50px;
    }
  }
  
  
  
  
  
  
  
  

