@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto Mono', monospace;
}

/* header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: ghostwhite;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
     
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

#navbar li a:hover{
    color:cadetblue;
}
/* Header ends */

/* Home starts */
#hero{
    background-image: url(https://i.postimg.cc/90McHr03/HD-wallpaper-red-rapping-hood-alone-amoled-black-dark-hoodie-hq-music-night-person-red.jpg);
    height:90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
}

h1{
    color: blueviolet;
}
h2{
    color: blue;
    text-align: center;
    margin-top: 20px;
}

.feat{
    display: flex;
    flex-direction: column;
}

.first-container, .second-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-block: 10px;
    background-color: azure;
    margin-inline: 10px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 40px;

}

img{
    width: 250px; 
}

.my{
    width: 60px;
}






/* footer */

footer{
    background-color: ghostwhite;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;

}

.follow{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.follow .icon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact{
    margin-top: 40px;
    margin-bottom: 40px;
}

.copyright{
    color:blue;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.hours{
    margin-top: 40px;
}

.links{
    margin-top: 40px;
}
.links li{
    list-style: none;
}

    
/* Media Queries */

@media (max-width: 767px) {
    #header {
      padding: 20px;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #navbar li {
      padding: 10px 0;
    }
  
    h1 {
      font-size: 24px;
    }
    .first-container,
    .second-container {
      flex-direction: column;
      margin-block: 20px;
    }
  
    img {
      width: 100%;
    }
  }
  
  @media (max-width: 479px) {
    #header {
      padding: 10px;
    }
  
    #navbar {
      align-items: center;
    }
  
    #navbar li {
      padding: 10px;
    }
    h1 {
        font-size: 20px;
      }
    
      .first-container,
      .second-container {
        margin-block: 15px;
        padding: 10px;
      }
    
      img {
        width: 100%;
      }
    }
    
    @media (max-width: 479px) {
        #header {
          padding: 10px;
        }
      
        #navbar {
          align-items: center;
        }
      
        #navbar li {
          padding: 10px;
        }
      
        h1 {
          font-size: 20px;
        }
      
        .first-container,
        .second-container { 
            margin-block: 15px;
            padding: 10px;
          }
        
          img {
            width: 100%;
          }
        }